/* Reset de márgenes y relleno */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo global */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

/* Encabezado */
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    position: relative; /* Necesario para posicionar elementos absolutamente dentro del encabezado */
}

header .logo h1 {
    margin: 0;
    margin-bottom: 20px; /* Aumenta el espacio entre el título y los elementos de navegación */
}

/* Alineación de los elementos de navegación a la derecha y más abajo */
nav {
    position: absolute;
    top: 70%; /* Cambié de 50% a 70% para moverlo más abajo */
    right: 20px; /* Los mantiene a la derecha */
    transform: translateY(-50%); /* Ajusta para centrar verticalmente en su nueva posición */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-left: 15px; /* Reduce el espacio entre los elementos */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 14px; /* Reduce el tamaño de los enlaces */
}

nav ul li a:hover {
    color: #0066cc;
}

/* Sección Principal */
.main-section {
    text-align: center;
    padding: 40px 20px;
    background-color: #fff;
}

.main-section img {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Sección de Servicios */
.services {
    background-color: #e2e2e2;
    padding: 40px 20px;
    text-align: center;
}

.services h2 {
    margin-bottom: 20px;
}

.service-item {
    margin-bottom: 20px;
}

/* Sección de Contacto */
.contact {
    padding: 40px 20px;
    text-align: center;
}

.contact a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

.contact a:hover {
    color: #0066cc;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
